/* TIPOGRAFÍAS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'GFS Didot', serif;
font-family: 'Raleway', sans-serif; */

/* ESTILOS GENERALES */

*{
    margin: 0px;
    padding: 0px;
 }

 /* para que no se vean las líneas de los enlces */
 a:link, a:visited, a:active {
    text-decoration:none;
}
 
 body{
     
     width: 100%;
     height: auto;/* scroll */
     background-color: white;
     display: flex;
     flex-direction: column;
 }
 /* --------------------------------------------------- */
 /* HEADER */ /* Menú + foto */
  /* --------------------------------------------------- */
 header{
    width: 100%;
    height: 100vh;
   /* border: 5px solid rgb(255, 208, 0);  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(home.png); 
    background-size: cover;

 }
       .caja_1{/* superior: logo e idioma*/
        width: 100%;
        height: 25%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 3px solid rgb(208, 255, 0); */ 
       }
       .caja1_a{/* LOGO */
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        /* border: 3px solid rgb(255, 0, 21);   */

    }
            .logo{
              width: 100%;
              height: 100%;
              /* border: 3px solid rgb(64, 0, 255); */ 
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: flex-end;

            }
                 .logo img{
                  width: 60%;
                 /*  border: 3px solid rgb(124, 110, 168);  */

                 }
                 
            .caja1_b{/* IDIOMA */
                width: 65%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
               /*  border: 3px solid rgb(17, 255, 0);   */
            }
                    .caja1_b a{
                      width: 20%;
                      height: 20%; 
                      text-align: end;
                      /* border: 3px solid rgb(17, 255, 0);   */
                         color: white;
                         font-family: 'Raleway', sans-serif; 
                         margin: 6%;
                    }

       .caja_2{/* inferior: menú y título */
        width: 100%;
        height: 75%;
       /*  border: 3px solid rgb(255, 0, 153);  */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
       }
            .menu{
                width: 35%;
                height: 100%;
               /*  border: 3px solid rgb(212, 136, 182); */  
                display: flex;
                justify-content: center;
                align-items: center;

            }
                  .recuadro{
                    /* width: 60%;
                    height: 40%; */
                    width: 240px;
                    height: 255px; 
                    margin-top: 3%;
                    border: 3px solid rgb(255, 255, 255);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                  }
                  .menu h4{/* home/about us/solutions... */
                    font-family: 'Raleway',thin,sans-serif;
                    font-weight: 300;
                    color: white;
                    font-size: 1.3rem;
                    margin: 3%;
                    margin-left: 20%;

                  }
                  .menu :hover{
                    /* font-size: 1.6rem; */
                    font-weight: 900;

                  }
                  #home{
                    font-family: 'Raleway',thin,sans-serif;
                    font-variant: small-caps;
                    font-weight: 700;
                    color: white;
                    font-size: 1.5rem;
                    margin: 3%;
                    margin-left: 20%;
                  }
                  #h{
                    font-size: 2rem;

                  }
    
            .title{
                width: 65%;
                height: 100%;
               /*  border: 3px solid rgb(10, 235, 156); */
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* line-height: 70px; */
            }
            /* HE MINIMIZADO "TITULAR" BLOCK... */
                 .title h1{
                    font-family: 'Raleway', thin, sans-serif; 
                    font-size: 5.5rem;
                    font-weight: 300;
                    letter-spacing: 7px;
                    color: white;
                    text-decoration: none;

                 }
                 .title h3{
                    font-family: 'Raleway', thin, sans-serif; 
                    font-size: 3rem;
                    font-weight: 300;
                    letter-spacing: 2px;
                    color: white;
                    text-decoration: none;
                    /* margin-left: 9%; */
        
                 }
/* --------------------------------------------------- */
/* CONTENIDO */
 /* --------------------------------------------------- */
 
 /* voy a intentar arreglar esto */
 
 .contenido{
   /*  border: 8px solid rgb(212, 136, 182); */
    display: flex;
    width: 100%;
    height: 90vmax;/*  */
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }    
     .encabezado{
        width: 80%;
      /*  height: 35%; */

        margin-top: 5%;/* esto */
        margin-bottom: 5%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       /*  border: 3px solid rgb(239, 10, 10);  */ 
     }
          .encabezado h1{
            /* width: 100%;
            height: 45%; */
            /* border: 3px solid rgb(136, 212, 201); */
            color: #000;
            font-size: 50px;
            font-family: 'Raleway', thin, sans-serif; 
            font-style: normal;
            font-weight: 400;
            line-height: normal;
           /*  display: flex;
            justify-content: center;
            align-items: center; */

          }
          .encabezado h2{
            /* width: 100%;
            height: 10%; */
           /*  border: 3px solid rgb(149, 212, 136);  */ 
            color: #000;
            font-size: 42px;
            font-family: 'Raleway', thin, sans-serif; 
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: right;
            margin: 2%;
           /*  display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: right;
   */
          }
          .encabezado h4{
            /* width: 100%;
            height: 45%; */
            /* border: 3px solid rgb(166, 136, 212);  */
            font-family: 'Raleway', thin, sans-serif; 
            color: #000;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;

           
          }

    .linea{
      width: 80%;
      border-bottom: 3px solid rgb(0, 0, 0);/* BOTTON */
    }

    .segundo_encabezado{
        width: 80%;
        height: 60%; 
        margin-top: 5%;/* esto */
        margin-bottom: 5%;

        display: flex;
        justify-content: top;
        flex-direction: column;
        align-items: center;
       /*  border: 3px solid rgb(242, 0, 255);   */
    }
    .segundo_encabezado h1{
        /* border: 3px solid rgb(222, 237, 192);  */
        width: 100%;
        /*  height: 25%;  */
       margin-bottom: 5%;
        color: #000;
        font-size: 30px;
        font-family: 'Raleway', thin, sans-serif; 
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        align-items: center;
    }/* ------------ES------------- */
    #segundo_encabezado_es h1{
      font-size: 30px;

    }
        .caja{
            border: 3px solid rgb(0, 0, 0); 
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            /* align-items: center; */
        }
          .caja_izquierda{
            border-right: 1px solid rgb(0, 0, 0);
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

          }
          .caja_derecha{
           /*  border-left: 1px solid rgb(0, 0, 0); */
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

          }
            .caja_texto{
                border-bottom: 0.5px solid rgb(0, 0, 0); 
                width: 100%;
                height: 14.4%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }
                .caja_texto h2{
                    width: 80%;
                    height: 40%;

                    font-size: 17px;
                    font-family: 'Raleway', thin, sans-serif; 
                    font-style: normal;
                    font-weight: 600;
                    text-transform: uppercase;/* MAYÚSCULAS ME GUSTA MÁS */

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    
                }
                #ultima{
                  border-bottom: none; 
                }

 /* --------------------------------------------------- */
/* FOOTER */ /* REDES SOCIALES, ANAGRAMA & COPY */
 /* --------------------------------------------------- */
footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  /*   border: 3px solid rgb(192, 237, 224); */
}
    .redes_sociales{
        width: 80%;
        height: 25%;
       /*  border: 3px solid rgb(235, 192, 237);  */
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
        .linkedin{
            width: auto;
            height: 90%;

        }
              .linkedin img{
                  width: auto;
                  height: 70%;
              }
        .twitter{
          width: auto;
          height: 90%;
            
        }
               .twitter img{
                   width: auto;
                   height: 70%;

                }

    .anagrama{
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      /* border: 3px solid rgb(169, 15, 177);  */
    }
       #b{
        height: 95%;
       }
    .copys{
        width: 80%;
        height: 15%;
        /* border: 3px solid rgb(26, 139, 205); */
        color: #000;
        font-family: 'Raleway', thin, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    #versalita{
        font-size: 17px;
        font-weight: 500;

    }
/* ------------------------------------------------------------------------- */
    /* RESPONSIVE WEB DESIGN */
/* ------------------------------------------------------------------------- */
@media(max-width:1250px){/* AUTO AQUÍ */
  .contenido{
    height: 120vmax;/* TOCO AQUÍ */
    

 } 

        .caja_texto h2{
      
            font-size: 16px;
            
        }
   /* ----------------AQUI-------------------------- */
}


    @media(max-width:1080px){/* AUTO AQUÍ */
        body{
            height: auto;/* scroll */

        }

        /* NAVBAR */
            
          .caja_1 p{
              margin: 5%;
            
          }

                          .recuadro{
                            width: 250px;
                            height: 235px;
                          }
                          .menu h4{
                            font-size: 1rem;
                            margin: 3%;
                            margin-left: 25%;
        
                          }
                          #home{
                            font-size: 1.3rem;
                            margin: 3%;
                            margin-left: 25%;
                          }
                          #h{ /* versalita */
                            font-size: 1.6rem;
                          }
                         .title h1{
                            font-size: 5rem;
        
                         }
                         .title h3{
                            font-size: 3rem;
                         }
            /* --------------------- */
            /* CONTENIDO / ENCABEZADO */
            .contenido{
              height: 150vmax;/* TOCO AQUÍ */
              
          
           } 
            .encabezado h1{
              /* border: 3px solid rgb(136, 212, 201); */
              color: #000;
              font-size: 50px;

            }
            .encabezado h2{
              font-size: 35px;
              
            }
            .encabezado h4{
              font-size: 20px;
             
            }
            /* SEGUNDO ENCABEZADO (CONTENIDO) TABLA Y TEXTO */
            .segundo_encabezado h1{
              font-size: 35px;
            
            }
            #segundo_encabezado_es h1{
              font-size: 25px;
        
            }
                      .caja_texto h2{
                        font-size: 16px;
                          
                      }
    }   
/* ---------------------------------------------------------- */
 @media(max-width:900px){
 /* .contenido{
    height: 110vmax;

 } */ 
  
              .title{
                  width: 60%;
                  height: 100%;
              }
                    .title h1{
                      font-size: 3.7rem;
  
                   }
                   .title h3{
                      font-size: 2.4rem;
                   }

/* -------------------------------- */
                   .encabezado h1{
                    /* border: 10px solid rgb(136, 212, 201);  */
                    font-size: 38px;
          
        
                  }
                  .encabezado h2{
                    font-size: 28px;
        
                  }
                  .encabezado h4{
                   /*  border: 10px solid rgb(166, 136, 212);  */
                    font-size: 18px;
                   
                  }
                  .segundo_encabezado h1{
                    font-size: 28px;
                  }
                  #segundo_encabezado_es h1{
                    font-size: 22px;
              
                  }
                  .caja_texto h2{
                    font-size: 14px;
                    
                }

   
}
/* ---------------------------------------------------------- */
@media(max-width:800px){/* ESTOY AQUÍ */
  /* NABVAR */
 
  .recuadro{
    width: 190px;
    height: 190px;
  }
  .title{
    width: 60%;
   height: 100%;
  }
     .title h1{
       font-size: 3rem;
     }
     .title h3{
       font-size: 2rem;
     }
 /* -------------CONTENIDO--------------- */
/*  .contenido{
  height: 220vmin;

} */
 .encabezado h1{
  font-size: 36px;
}
.encabezado h2{
  font-size: 26px;

}
.encabezado h4{
  font-size: 17px;
 
}
.segundo_encabezado h1{
  font-size: 26px;
}
#segundo_encabezado_es h1{
  font-size: 20px;

}
.caja_texto h2{
  font-size: 14px;
}
  
}
/* ------------------------------------------*/
@media(max-width:750px){/* 750 */
  body{
    height: auto;
  }

    /* menu */
    .recuadro{
      width: 200px;
      height: 200px;
      margin-top: 3%;
    }
    .menu h4{
      font-size: 1rem;
      margin: 3%;
      margin-left: 22%;

    }
    #home{
      font-size: 1rem;
      margin: 3%;
      margin-left: 22%;
    }
    #h{
      font-size: 1.4rem;

    } 

}
/* ---------------------------------------------- */
@media(max-width:700px){
  body{
    height: auto;
  }

  .caja_texto h2{
    font-size: 12px;
    font-weight: bolder;
    /* border: 3px solid rgb(192, 237, 224); */
  
  }
  /* -------------CONTENIDO--------------- */
  .encabezado h1{
    font-size: 32px;
  }
  .encabezado h2{
    font-size: 24px;

  }
  .encabezado h4{
    font-size: 16px;
  
  }
  .segundo_encabezado h1{
    font-size: 24px;

  }
  #segundo_encabezado_es h1{
    font-size: 18px;

  }
  .caja_texto h2{
    font-size: 10px;
  }
  
}
/* ---------------------------AQUÍ-------------- */
  @media(max-width:664px){
    body{
      height: auto;
    }
    /* .contenido{
      height: 140vmax;
  
    } */
    .title h1{
      font-size: 2.5rem;
    }
    .title h3{
      font-size: 1.6rem;
    }
    /* menu */
        .recuadro{
          width: 180px;
          height: 160px;
          margin-top: 3%;
      
        }
        .menu h4{
          font-size: 1rem;
          margin: 2%;
          margin-left: 20%;

        }
        #home{
          font-size: 1rem;
          margin: 2%;
          margin-left: 20%;
        }
        #h{
          font-size: 1.4rem;

        }
/* -----------------cuerpo------------------- */

        .caja{
          height: 65%;

        }
        .segundo_encabezado h2{
          font-size: 12;
        }
        #b{
          height: 100%;
         }
    
      }
/* ------------------------------------------------------ */
@media(max-width:640px){
 /* ------navbar---------- */
  .title h1{
    font-size: 2.5rem;
  }
  .title h3{
    font-size: 1.6rem;
  }
  /* menu */
      .recuadro{
        width: 200px;
        height: 190px;
        margin-top: 3%;
        border: 3px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
      }
      .menu h4{
        font-family: 'Raleway',thin,sans-serif;
        font-weight: 400;
        color: white;
        font-size: 1rem;
        margin: 2%;
        margin-left: 20%;

      }
      #home{
        font-size: 1rem;
        margin: 2%;
        margin-left: 20%;
      }
      #h{

        font-size: 1.4rem;

      }
      /* --------contenido--------- */
      .encabezado h1{
        font-size: 27px;
      }
      .encabezado h2{
        font-size: 20px;
      }
      .encabezado h4{
        font-size: 14px;
      }
      .segundo_encabezado h1{
        font-size: 20px;
      }
     
      .segundo_encabezado h2{
        font-size: 12;
      }
      footer{
        height: 12vh;
      }
      .copys p{
        font-size: smaller;
      }

}
    /* --------- */
@media(max-width:580px){
 
      .caja1_b p{
        font-size: 12px;
      }
      .recuadro{
        width: 155px;
        height: 170px;
      }
      .menu h4{
        font-family: 'Raleway',thin,sans-serif;
        font-weight: 400;
        color: white;
        font-size: 15px;
        margin: 2%;
        margin-left: 15%;

      }
      #home{
        font-size: 15px;
        margin: 2%;
        margin-left: 15%;
      }
      #h{
        font-size: 19px;
      }
      /* --------contenido-------- */
      .encabezado h1{
        /* height: 40%; */
        font-size: 28px;
       }
      .encabezado h2{
        /* height: 10%; */
        font-size: 24px;
       /*  margin: 0%; */
      }
      .encabezado h4{
       /*  height: 50%; */
        font-size: 15px;
      }
  }
    /* ------------------------ */
    @media(max-width:556px){

          .recuadro{
            width: 150px;
            height: 160px;
          }
          .menu h4{
            font-size: 13px;
            margin: 2%;
            margin-left: 15%;
    
          }
          #home{
            font-size: 13px;
            margin: 2%;
            margin-left: 15%;
          }
          #h{
    
            font-size: 17px;
    
          }
          .encabezado h1{
            font-size: 22px;
          
          
          }
          .encabezado h2{
            font-size: 20px;
          
          }
          .encabezado h4{
            height: 40%;
            /* border: 10px solid rgb(166, 136, 212);  */
            font-size: 12px;
           
          }
          .segundo_encabezado h1{
            font-size: 22px;
          
          
          }
          #segundo_encabezado_es h1 {
            font-size: 25px;
        }
     }
/* --------- */
@media(max-width:535px){


                    .caja_1 p{
                         font-size: 13px;
                         margin: 2%;
                    }

       .caja_2{/* inferior: menú y título */
        width: 100%;
        height: 75%;
       /*  border: 3px solid rgb(255, 0, 153);  */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
            .menu{
                width: 90%;
                height: 35%;
              /*  border: 3px solid rgb(212, 136, 182);  */
                display: flex;
                justify-content: center;
                align-items: top;


            }
                  .recuadro{
                    width: 50%;
                    height: 100%;
                    border: 3px solid rgb(255, 255, 255);
                    background-color:#000;
               
                  }
                  .menu h4{
                    font-size: 17px;
                    margin: 2.5%;
                    margin-left: 20%;

                  }
                  #home{
                    font-size: 17px;
                    margin: 2.5%;
                    margin-left: 20%;
                  }
                  #h{
                    font-size: 21px;

                  }
    
            .title{
                width: 90%;
                height: 60%;
              /*   border: 3px solid rgb(10, 235, 156); */
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
                 .title h1{
                    font-size: 3.7rem;
                   

                 }
                 .title h3{
  
                    font-size: 2.5rem;

                 }
}

