/* ------------------------------------------------------------------------- */
    /* RESPONSIVE WEB DESIGN */
/* ------------------------------------------------------------------------- */
/* MÓVILES */

@media(max-width:430px){

 
    body{
        
        width: 100%;
        height: auto;/* scroll */
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    /* --------------------------------------------------- */
    /* HEADER */ /* Menú + foto */
     /* --------------------------------------------------- */
    header{
       width:100%;
       height: 100vh;
   /*     border: 5px solid rgb(255, 208, 0); */
   
       display: flex;
       flex-direction: column;
       justify-content: center;
       background-image: url(home.png);
       background-repeat: no-repeat;
       background-position: top;
       background-size: auto 100%;
   
    }
          .caja_1{/* superior: logo e idioma*/
           width: 100%;
           height: 25%;
   
           display: flex;
           flex-direction: column-reverse;
           justify-content: center;
           align-items: center;
          /* border: 3px solid rgb(208, 255, 0); */
          }
               .caja1_a{/* LOGO */
                   width: 90%;
                   height: 80%;
                   display: flex;
                   justify-content: center;
                   align-items: center; 
                   /* border: 3px solid rgb(4, 0, 255);   */
                   background-image: url(LOGO\ BTEHR\ blanco.png);
                   background-position: center;
                   background-repeat: no-repeat;
                   background-size: 45%;
   
               }
                       .logo{
                          width: 0%;
                       }
        
               .caja1_b{/* IDIOMA */
                   width: 100%;
                   height: 20%;
                   display: flex;
                   flex-direction: row;
                   justify-content: flex-end;
                   /* border: 3px solid rgb(17, 255, 0);  */
               }
                       .caja_1 p{
                            color: white;
                            font-family: 'Raleway', sans-serif; 
                            font-size: 13px;
                            margin: 2%;
                       }
   
          .caja_2{/* inferior: menú y título */
           width: 100%;
           height: 75%;
           /* border: 3px solid rgb(255, 0, 153);  */
           display: flex;
           flex-direction: column-reverse;
           justify-content: center;
           align-items: center;
           align-items: center;
          }
               .menu{
                   width: 90%;
                   height: 70%;
              /*  border: 3px solid rgb(212, 136, 182);  */
                   display: flex;
                   justify-content: center;
                   align-items: top;
   
   
               }
                     .recuadro{
                       width: 60%;
                       height: 50%;
                       border: 3px solid rgb(255, 255, 255);
                       background-color:#000;
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: left;/* TOCO AQUÍ */
                     }
                     .menu h4{
                       font-size: 17px;
                       /* margin: 2.5%; */
                       margin: 2.5%;
                       margin-left: 20%;
                    
   
                     }
                     .menu :hover{
                       font-weight: 900;
   
                     }
                     #home{
                       font-size: 17px;
                      /*  margin: 2.5%; */
                      margin: 2.5%;
                      margin-left: 20%;
                     
                     }
                     #versalitas{
                       font-size: 17px;
                       /* margin: 2.5%; */
                       margin-left: 2.5% auto;
                       margin-left: 20%;
            
                     }
                     #h{
                       font-size: 21px;
   
                     }
       
               .title{
                   width: 75%;
                   height: 30%;
                   /* border: 3px solid rgb(10, 235, 156); */ 
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: left;
    
               }
                    .title h1{
              
                       font-size: 2.6rem;
                       font-weight: 600;
                       line-height: 60px;
      
              
                     /*   text-decoration: none; */
   
                    }
                    .title h3{/* misma linea */
        
                       font-size: 1.8rem;
                       margin-left: 13%;/* TOCO AQUÍ */
   
                    }
                    #about{ /* para bajar about us y alinear con la caja */
        
                     height: auto;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                   
                    /*  border: 3px solid rgb(10, 235, 156); */
                     
                    }
                    #us{
                       font-size: 3rem;
                    }
   /* --------------------------------------------------- */
   /* CONTENIDO */
    /* --------------------------------------------------- */
    .contenido{
      /*  border: 8px solid rgb(212, 136, 182);  */
   
       display: flex;
       width: 100%;
       height:  175vmax;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   
    }    
        .encabezado{
           width: 80%;
           height: 85%;/*  */
           display: flex;
           justify-content: space-between;
           flex-direction: column;
          /*  border: 3px solid rgb(0, 0, 0); */
        }
             .encabezado h1{
               width: 100%;
               height: 40%;
              /*   border: 3px solid rgb(136, 212, 201);  */ 
               color: #000;
               font-size: 36px;
               font-family: 'Raleway', thin, sans-serif; 
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               display: flex;
               justify-content: center;
               align-items: center;
   
             }
             .encabezado h2{
               width: 100%;
               height: 10%;
             /*   border: 3px solid rgb(149, 212, 136); */
               color: #000;
               font-size: 30px;
               font-family: 'Raleway', thin, sans-serif; 
               font-style: normal;
               font-weight: 600;
               line-height: normal;
               display: flex;
               justify-content: center;
               align-items: center;
   
             }
             .encabezado h4{
               width: 100%;
               height: 50%;
               /* border: 3px solid rgb(166, 136, 212); */
               font-family: 'Raleway', thin, sans-serif; 
               color: #000;
               font-size: 20px;
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               display: flex;
               align-items: center;
              
             }
             .linea{
               width: 80%;
               /* height: 1px; */
               border: 2px solid rgb(0, 0, 0);
             }
   
       .segundo_encabezado{
           width: 80%;
           height: 90%;
           display: flex;
           justify-content: top;
           flex-direction: column;
            align-items: center;
            /* border: 3px solid rgb(242, 0, 255); */
       }
       .segundo_encabezado h1{
           /* border: 3px solid rgb(222, 237, 192); */
           width: 100%;
           height: 45%;
           color: #000;
           font-size: 28px;
           font-family: 'Raleway', thin, sans-serif; 
           font-style: normal;
           font-weight: 600;
           line-height: normal;
           display: flex;
           align-items: center;
       }
           .caja{
               border: 3px solid rgb(0, 0, 0);
               width: 100%;
               height: 50%;
               display: flex;
               flex-direction: column;
               justify-content: center;
               /* align-items: center; */
           }
               .caja_texto{
                   /* border: 3px solid rgb(231, 12, 213); */ 
                   width: 100%;
                   height: 30%;
                   display: flex;
                   flex-direction: column;
                   justify-content: left;
                   align-items: center;
   
               }
                   .caja_texto h1{
                       width: 80%;
                       height: 40%;
                      /*  border: 3px solid rgb(249, 6, 6); */
                       display: flex;
                       align-items: center;
                       text-align: center;
                       font-size: 20px;
                       font-family: 'Raleway', thin, sans-serif; 
                       font-style: normal;
                       font-weight: 700;
                   }
                   .caja_texto p{
                       width: 80%;
                       height: 60%;
                      /*  border: 3px solid rgb(127, 6, 249);  */
                       display: flex;
                     /*   align-items: center; */
                       font-family: 'Raleway', thin, sans-serif; 
                       color: #000;
                       font-size: 16px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: normal;
                   }
    /* --------------------------------------------------- */
   /* FOOTER */ /* REDES SOCIALES, ANAGRAMA & COPY */
    /* --------------------------------------------------- */
   footer{
       width: 100%;
       height: 15vh;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
      /*  border: 3px solid rgb(192, 237, 224);  */
   }
       .redes_sociales{
           width: 80%;
           height: 30%;
           margin-top: 1%;
          /*  border: 3px solid rgb(235, 192, 237);  */
           display: flex;
           flex-direction: row;
           justify-content: left;
          /*  align-items: center; */
    
       }
           .linkedin{
               width: 6%;
               background-image: url(LOGOTIPOS/LINKEDIN.png);
               background-repeat: no-repeat;
               background-size: 90%; 
   
           }
           .twitter{
               width: 6%;
               background-image: url(LOGOTIPOS/TWITTER.png);
               background-repeat: no-repeat;
               background-size: 90%;
           }
       .anagrama{
           width: 80%;
           height: 60%;
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
         /*   border: 3px solid rgb(169, 15, 177); */
       }
          #b{
           height: 80%;
          }
       .copys{
           width: 80%;
           height: 15%;
           /* border: 3px solid rgb(26, 139, 205); */
           color: #000;
           font-family: 'Raleway', thin, sans-serif;
           font-size: 10px;
           font-style: normal;
           font-weight: 600;
           line-height: normal;
       }
       #versalita{
           font-size: 14px;
           font-weight: 500;
   
       }
   }
   @media(max-width:380px){
     header{
       height: 100vh;
       /* border: 10px solid rgb(255, 208, 0); */ 
       background-repeat:no-repeat;
       background-position: center;
       background-size: auto 100%;
     
     
     }
     .menu{
      width: 90%;
      height: 65%; 
      display: flex;
      justify-content: center;
      margin-top: 2%;
      /* border: 3px solid rgb(213, 10, 235);  */


  }

        .recuadro{/* aquí */
          width: 60%;
          height: 60%;
        }
        .menu h4{
          font-size: 16px;
          margin: 2.5%;
          margin-left: 16%;
        }
        #home{
          font-size: 16px;
          margin: 2.5%;
          margin-left: 16%;

        }
        #versalitas{
          font-size: 16px;
          margin: 2.5%;
          margin-left: 16%;

        }
        #h{
          font-size: 20px;

        }

  .title{
      width: 75%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
     /*  border: 3px solid rgb(10, 190, 235);  */
  }
       .title h1{
          font-size: 2rem;

       }
       .title h3{
          font-size: 1.5rem;
          line-height: 30px;
       }
   /* ------------------------------------------------ */
   .contenido{       
           display: flex;
           width: 100%;
           height:  175vmax;;
           flex-direction: column;
           justify-content: center;
           align-items: center;
   }    
               .encabezado{
                   width: 80%;
                   height: 85%;/*  */
       
   
               }
                       .encabezado h1{
                           width: 100%;
                           height: 40%;
                           font-size: 30px;
                    
                           }
                       .encabezado h2{
   
                           height: 10%;
                           font-size: 25px;
                    
                       }
                       .encabezado h4{
                           height: 50%;
                           font-size: 16px;
                               
                       }
                       .segundo_encabezado{
                            width: 80%;
                            height: 90%;
                        }
                       .segundo_encabezado h1{
                            font-size: 25px;
               
                        }
                            .caja{
                                height: 50%;
                 
                            }
                                .caja_texto{
                                    /* border: 3px solid rgb(231, 12, 213); */ 
                                    width: 100%;
                                    height: 30%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: left;
                                    align-items: center;
                    
                                }
                                    .caja_texto h1{
                                        width: 80%;
                                        font-size: 17px;
                                        font-weight: 900;
                                    }
                                    .caja_texto p{
                                        font-size: 12px;
                               
                                    } 
                                    .linea{
                                       border: 1px solid rgb(0, 0, 0);
                                     }
   
   }
   @media(max-width:280px){
    body{
      height: auto;
    }
    header{
      height: 100vh;
    /*  border: 10px solid rgb(255, 208, 0);  */
    }
                   .title h1{
                      font-size: 1.4rem;
  
                   }
                   .encabezado h2{
   
                    font-size: 22px;
             
                  }
          
  /* ------------------------------------------------ */
  .contenido{
    /*  border: 8px solid rgb(212, 136, 182); */
     flex-direction: column;
     justify-content: center;
     align-items: center;
  
  }    
      .encabezado{
         height: 50%;
  
/* border: 3px solid rgb(230, 6, 6); */
      }
          .encabezado h1{
            height: 30%;
            /* border: 3px solid rgb(149, 212, 136); */
            font-size: 25px;

          }
           .encabezado h2{
             height: 10%;
          /*    border: 3px solid rgb(149, 212, 136); */
             font-size: 22px;
  
           }
           .encabezado h4{
             height: 60%;
     /*         border: 3px solid rgb(166, 136, 212);  */ 
             font-size: 16px;
             line-height: 20px;
            
           }
 
     .segundo_encabezado{
         height: 50%;

     }
     .segundo_encabezado h1 {
      font-size: 22px;
    }
    .caja_texto h1 {
     
      margin: 1%;
      height: 18%;
      font-size: 15px;
      font-weight: 800;
  }
    /* -------------------- */
     .info{
       /* width: 100%; */
       height: 15%;
       font-size: 10px;
     /*   border: 3px solid rgb(242, 0, 255);  */
       margin-top: 3%;
     }
     /* FORMULARIO CONTACT */
     #form{
       height: 85%;
       border: 3px solid rgb(0, 0, 0);
     }
     .field {
       height: 15%;
       /* border: 3px solid rgb(43, 0, 255); */
       /* margin-bottom: 10px; */
       display: flex;
       flex-direction: row;
       align-items: center;
     }
     
     .field label {
       width: 27%;
       height: 50%;
       margin-top: 3%;
       /* border: 3px solid rgb(94, 255, 0); */
       font-size: 16px;
    
     }
     .field input {
       
       width: 50%;
       height: 50%;
       font-size: 14px;
  /*     border: 3px solid rgb(94, 255, 0);  */
     
     }
  
     input[type="submit"] {/* submit message */
       width: 80%;
       height: 15%;
       font-size: 20px;
       /* border: 3px solid rgb(94, 255, 0); */
    
     }}
